@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7; 
    text-align: center;
    color: #4B280A; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B280A; 
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-top: 20px;
}

.hero-img {
    width: 80%; 
    max-width: 800px; 
    height: 350px;
    border-radius: 10px; 
    margin: 10px 0; 
}

.hero h1 {
    font-size: 32px;
    margin: auto;
    color: #8B5E3C; 
}

.hero p {
    font-size: 18px;
    color: #6D4C41;
    max-width: 800px;
    margin: 25px auto 15px; 
}

.about {
    padding: 50px;
    background-color: #f5e1c8; 
    text-align: center;
}

.about h2 {
    font-size: 28px;
    color: #8B5E3C;
}

.about p {
    font-size: 18px;
    color: #6D4C41;
    max-width: 800px;
    margin: 0 auto 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4B280A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}
html {
    scroll-behavior: smooth;
}

.menu {
    padding: 50px;
    text-align: center;
    background-color: #FAEBD7;
}

.menu h1 {
    font-size: 32px;
    color: #8B5E3C;
    margin-bottom: 30px;
}

.menu p {
    font-size: 18px;
    color: #6D4C41;
    max-width: 800px;
    margin: 25px auto 15px; 
}

.menu-category {
    margin-bottom: 40px;
}

.menu-category h2 {
    font-size: 24px;
    color: #4B280A;
    border-bottom: 2px solid #8B5E3C;
    display: inline-block;
    padding-bottom: 5px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu-item {
    width: 220px;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}

.menu-item p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #4B280A;
}

.books {
    text-align: center;
    padding: 30px;
}

.book-list {
    display: flex;
    justify-content: center;
    gap: 15px; 
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 25px;
}

.book-item {
    width: 250px; 
    height: 620px;
    background-color: #ffffff;
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-item img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 5px;
}

h1 {
    color: #8B5E3C;
}

h2 {
    font-size: 18px; 
    margin-top: 4px ;
    margin-bottom: 2px; /* Зменшує відступ до автора */
    color: #4B280A;
}

.description {
    font-size: 13px; 
    color: #6D4C41;
    min-height: 40px; 
    flex-grow: 1;
}

.price {
    font-weight: bold;
    color: #4B280A;
    margin-top: auto;
}

footer {
    background-color: #4B280A;
    padding: 10px;
    margin-top: 20px;
    color: white;
}
